<template>
  <header
    class="fixed w-[360px] transition duration-300 ease-in-out bg-white rounded-b-xl shadow-[0_3px_6px_#00000029] z-40"
  >
    <div class="">
      <div
        class="w-100% h-[5px] top-0 bg-gradient-to-b from-[#319795] to-[#3182CE]"
      ></div>
      <div class="h-16">
        <nav>
          <ul>
            <li class="flex h-16">
              <a
                href="/Login"
                class="transition-all duration-300 ml-[304px] mt-[26px] w-[39px] h-[19px] text-left text-teal-600 hover:text-teal-500"
                style="
                  font: normal normal 600 14px/17px lato;
                  letter-spacing: 0.84px;
                "
              >
                <span>Login</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>
