<template>
  <section class="flex flex-wrap relative w-[360px]">
    <div class="h-[50px] ml-[20px] mt-[30px]">
      <h2
        class="px-[30px] text-center text-[#4A5568] text-[20px]"
        style="font: normal normal medium 20px/26px lato"
      >
        Drei einfache Schritte <br />
        zu deinem neuen Mitarbeiter
      </h2>
    </div>
    <div class="absolute mt-[48px]">
      <img
        class="ml-[100px] mt-16 w-[220px] h-[145]"
        src="../../static/undraw_Profile_data_re_v81r.svg
"
        alt="data_re"
      />
    </div>
    <div
      class="ml-[10px] mt-[120px] w-[350px] h-[156px] flex flex-wrap text-center"
    >
      <h1 style="font: normal normal normal 130px/156px Lato; color: #718096">
        1.
      </h1>
      <p
        class="ml-[10px] mt-[90px] w-[146px] h-[38px]"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Erstellen dein Unternehmensprofil
      </p>
    </div>
    <div
      class="mt-[40px] ml-7 w-[370px] h-[270px] flex flex-wrap align-text-bottom z-0"
    >
      <h1 style="font: normal normal normal 115px/156px Lato; color: #718096">
        2.
      </h1>
      <p
        class="mt-[99px] h-[19px] z-10"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Erstellen ein Jobinserat
      </p>
    </div>
    <div class="absolute mt-[448px]">
      <img
        class="ml-[59px] mt-[30px] w-[259px] h-[179px]"
        src="../../static/undraw_about_me_wa29.svg
"
        alt="about_me"
      />
    </div>
    <div class="ml-9 w-[370px] flex flex-wrap text-center z-0">
      <h1 style="font: normal normal normal 115px/156px Lato; color: #718096">
        3.
      </h1>
      <p
        class="mt-[72px] h-[38px] z-10"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Wähle deinen <br />
        neuen Mitarbeiter aus
      </p>
    </div>
    <div class="absolute mt-[810px]">
      <img
        class="ml-[60px] mt-[30px] w-[240px] h-[197]"
        src="../../static/undraw_swipe_profiles1_i6mr.svg
"
        alt="swipe_profiles"
      />
    </div>
  </section>
  <div
    style="
      background-image: url('../../static/wave.svg');
      height: 350px;
      margin-top: -468px;
    "
  ></div>
  <div
    style="
      background-image: url('../../static/circcle.svg');
      height: 361px;
      margin-top: -41px;
      margin-left: -1px;
    "
  ></div>
  <!-- <svg
    class="-top-[600px]"
    xmlns="http://www.w3.org/2000/svg"
    width="365"
    height="350"
    style="margin-top: -486px"
  >
    <defs>
      <linearGradient
        id="a"
        x1=".235"
        y1=".269"
        x2="1.066"
        y2=".971"
        gradientUnits="objectBoundingBox"
      >
        <stop offset="0" stop-color="#e6fffa" />
        <stop offset="1" stop-color="#ebf4ff" />
      </linearGradient>
    </defs>
    <path
      data-name="Path 1"
      d="M646 835.576c3.017.149 20.957-1.188 41.717 5.408 32.431 10.3 80.776 29.166 116.9 28.343 34.826.432 93.4-20.388 139.341-27.543 36.093-5.621 57.5 1.438 57.5 1.438v310.151s-84.375 37.637-144.846 31.356-100.032-2.7-128.1 0-82.64 13.882-82.64 13.882Z"
      transform="translate(-645.869 -835.556)"
      fill="url(#a)"
    />
  </svg> -->
</template>
