<template>
  <section class="flex flex-wrap relative w-[360px] h-[999pxs]">
    <div class="h-[50px] ml-[40px] mt-[30px]">
      <h2
        class="text-center text-[#4A5568] text-[21px]"
        style="font: normal normal medium 20px/26px lato"
      >
        Drei einfache Schritte <br />
        Vermittlung neuer Mitarbeiter
      </h2>
    </div>
    <div class="absolute mt-[48px]">
      <img
        class="ml-[100px] mt-16 w-[220px] h-[145px]"
        src="../../static/undraw_Profile_data_re_v81r.svg"
        alt="data_re"
      />
    </div>
    <div
      class="ml-[10px] mt-[120px] w-[350px] h-[156px] flex flex-wrap text-center"
    >
      <h1 style="font: normal normal normal 130px/156px Lato; color: #718096">
        1.
      </h1>
      <p
        class="ml-[10px] mt-[90px] w-[146px] h-[38px]"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Erstellen dein Unternehmensprofil
      </p>
    </div>
    <div
      class="mt-[40px] ml-7 w-[370px] h-[270px] flex flex-wrap text-center z-0"
    >
      <h1 style="font: normal normal normal 115px/156px Lato; color: #718096">
        2.
      </h1>
      <p
        class="mt-[84px] h-[19px] z-10"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Erhalte Vermittlungs-<br />
        angebot von Arbeitgeber
      </p>
    </div>
    <div class="absolute mt-[448px]">
      <img
        class="ml-[102px] mt-[90px] w-[218px] h-[148px]"
        src="../../static/undraw_job_offers_kw5d.svg"
        alt="undraw_job_offers_kw5d

"
      />
    </div>
    <div class="ml-16 w-[370px] flex flex-wrap text-center z-0">
      <h1 style="font: normal normal normal 115px/156px Lato; color: #718096">
        3.
      </h1>
      <p
        class="mt-[72px] h-[57px] z-10"
        style="
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.47px;
          color: #718096;
        "
      >
        Vermittlung nach<br />
        Provision oder<br />
        Stundenlohn
      </p>
    </div>
    <div class="absolute mt-[820px]">
      <img
        class="ml-[55px] w-[250px] h-[190px]"
        src="../../static/undraw_business_deal_cpi9.svg"
        alt="undraw_business_deal_cpi9
"
      />
    </div>
  </section>
  <div
    style="
      background-image: url('../../static/wave.svg');
      height: 350px;
      margin-top: -468px;
    "
  ></div>
  <div
    style="
      background-image: url('../../static/circcle.svg');
      height: 361px;
      margin-top: -41px;
      margin-left: -1px;
    "
  ></div>
  <!-- <svg
    class="-top-[600px]"
    xmlns="http://www.w3.org/2000/svg"
    width="365"
    height="350"
    style="margin-top: -486px"
  >
    <defs>
      <linearGradient
        id="a"
        x1=".235"
        y1=".269"
        x2="1.066"
        y2=".971"
        gradientUnits="objectBoundingBox"
      >
        <stop offset="0" stop-color="#e6fffa" />
        <stop offset="1" stop-color="#ebf4ff" />
      </linearGradient>
    </defs>
    <path
      data-name="Path 1"
      d="M646 835.576c3.017.149 20.957-1.188 41.717 5.408 32.431 10.3 80.776 29.166 116.9 28.343 34.826.432 93.4-20.388 139.341-27.543 36.093-5.621 57.5 1.438 57.5 1.438v310.151s-84.375 37.637-144.846 31.356-100.032-2.7-128.1 0-82.64 13.882-82.64 13.882Z"
      transform="translate(-645.869 -835.556)"
      fill="url(#a)"
    />
  </svg> -->
</template>
