<template>
  <footer>
    <div
      class="fixed bg-white w-[360px] bottom-0 h-[128px] rounded-t-xl shadow-[0_-1px_3px_#00000029]"
    >
      <div
        class="transition-all duration-300 pt-[12px] pb-[11px] mt-[24px] mx-[20px] w-[320px] h-[40px] bg-gradient-to-r from-[#319795] to-[#3182CE] hover:from-[#20716f] hover:to-[#1b5e9d] text-center text-white text-[14px] rounded-xl"
      >
        <a
          class="mt-[12px]"
          style="font: normal normal 600 14px/17px lato; letter-spacing: 0.84px"
          >Kostenlos Registrieren</a
        >
      </div>
    </div>
  </footer>
</template>
