<template>
  <div className="flex flex-col min-h-[700px] w-[360px] ">
    <Header />

    <main className="flex flex-col" style="margin-bottom: 150px">
      <section class="relative -mt-[25px] w-[360px] h-[700px]">
        <div class="mx-[20px] w-[320px] h-24">
          <h2
            class="text-center mt-[90px] pt-4 text-gray-800 text-[42px]"
            style="
              font: normal normal medium 42px/50px lato;
              letter-spacing: 1.26px;
            "
          >
            Deine Job website
          </h2>
        </div>
        <div class="absolute mt-[30px]">
          <img
            class="w-[418px] h-[405] pt-4"
            src="../static/undraw_agreement_aajr.svg"
            alt="agreement"
          />
        </div>
      </section>
      <div
        style="
          background-image: url('../static/index_background.svg');
          height: 660px;
          margin-top: -772px;
        "
      ></div>
      <section class="mb-5" style="margin-top: -11px; background-color: white">
        <div
          :class="[
            choice === 'Employee'
              ? 'mx-[20px]'
              : choice === 'Employer'
              ? '-mx-[65px]'
              : '-mx-[158px]',
          ]"
        >
          <span class="inline-flex" style="margin-top: -7px">
            <button
              @click="makeActive('Employee')"
              type="button"
              :class="[
                choice === 'Employee'
                  ? 'bg-[#81E6D9] text-white'
                  : 'bg-white  text-[#319795] border border-1px border-[#CBD5E0]',
                'relative inline-flex items-center rounded-l-xl w-[160px] h-[40px] px-[20px]',
              ]"
              style="
                font: normal normal 600 14px/17px lato;
                letter-spacing: 0.84px;
              "
            >
              Arbeitnehmer
            </button>
            <button
              @click="makeActive('Employer')"
              type="button"
              :class="[
                choice === 'Employer'
                  ? 'bg-[#81E6D9] text-white'
                  : 'bg-white  text-[#319795] border border-1px border-[#CBD5E0]',
                'relative inline-flex items-center w-[160px] h-[40px] px-[28px]',
              ]"
              style="
                font: normal normal 600 14px/17px lato;
                letter-spacing: 0.84px;
              "
            >
              Arbeitgeber
            </button>
            <button
              @click="makeActive('Temporary')"
              type="button"
              :class="[
                choice === 'Temporary'
                  ? 'bg-[#81E6D9] text-white'
                  : 'bg-white  text-[#319795] border border-1px border-[#CBD5E0]',
                'relative inline-flex items-center rounded-r-xl w-[160px] h-[40px] px-[20px]',
              ]"
              style="
                font: normal normal 600 14px/17px lato;
                letter-spacing: 0.84px;
              "
            >
              Temporärbüro
            </button>
          </span>
        </div>
      </section>

      <!-- <Employee v-show="isActiveTab('Employee')" />
      <Employer v-show="isActiveTab('Employer')" />
      <Temporary v-show="isActiveTab('Temporary')" /> -->
      <component :is="choice"></component>
    </main>

    <Footer />
  </div>
</template>

<script>
import Header from '../components/Header/Header.vue';
import Footer from '../components/Footer/Footer.vue';
import Employee from '../components/Sections/Employee.vue';
import Employer from '../components/Sections/Employer.vue';
import Temporary from '../components/Sections/Temporary.vue';

export default {
  components: {
    Header,
    Footer,
    Employee,
    Employer,
    Temporary,
  },
  data() {
    return {
      choice: 'Employee',
    };
  },
  methods: {
    makeActive: function (val) {
      this.choice = val;
    },
    isActiveTab: function (val) {
      return this.choice === val;
    },
  },
};
</script>

<style scoped></style>
